body {
  margin: 0;
  font-family: 'Inter Tight', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* Navbar */
.contenedor_nav {
  width: 100%; 
  background-color: rgb(240, 179, 68);
  height: 4rem;  
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
  font-size: 1.3rem;
  justify-content: space-between;
}
.div_links {
  display: flex;
}
.logo_navbar {
  width: 2.5rem;
  margin-left: 7rem;
}
.div_poke {
  margin-right: 7rem;
  text-decoration: none;
}
.div_home {
  margin-right: 2rem;
  text-decoration: none;
}
.active {
  color: blue;
  text-decoration: none;
  text-shadow: 1px 1px 1px black;
  cursor: pointer;
}
.inactive {
  color: white;
  text-decoration: none;text-shadow: 1px 1px 1px black;
  cursor: pointer;
}

/* Home */
.home_div {
  margin-top: 3rem;
  text-align: center;
  }
.pokeimagen {
  width: 28rem;  
}


/* Pokemones */
.pokemones_div  {
  margin-top: 3rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.selector {
  width: 13rem;
  height: 2rem;
  text-align: center;
  font-size: 1rem;
  margin-top: 1.5rem;
  border-radius: 8px;
  cursor: pointer;
}
 button {
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 10rem;
  height: 2rem;
  background-color: red;
  color: white;
  font-size: 1rem; 
  border-radius: 8px;
  border-color: darkgrey;
  cursor: pointer;
 }

/* NotFound */
.error {
  text-align: center;
  margin-top: 3rem;
}

/* Card */
.contenedor-card {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.card {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  width: 100%;
}
.poke-detalles {
  font-size: 1.2rem;
  margin-left: 2rem;
  text-align: left;
}
.flecha-volver {
  width: 4rem;
  margin-top: 2rem;
  cursor: pointer;
  margin-bottom: 1rem;
}
h4 {
  margin-left: 15rem;
  color: rgb(248, 240, 240);
  font-size: 1rem;
}